<div class="row">
  <div class="col-md-4 col-sm-12 col-xs-12 m-b-10">
    <div class="widget-9 panel no-border bg-complete no-margin widget-loader-bar" style="height: 100px;">
      <div class="container-xs-height full-height">
        <div class="row-xs-height">
          <div class="col-xs-height col-middle">
            <div class="text-center">
              <h2 class="no-margin text-white"><%= @data[:total_followers] %></h2>
            </div>
            <div class="text-center">
              <h5 class="no-margin p-b-5 text-white">
                <%= t 'analytics.organizations.total_followers', count: @data[:total_followers] %>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 col-xs-12 m-b-10">
    <div class="widget-9 panel no-border bg-primary no-margin widget-loader-bar" style="height: 100px;">
      <div class="container-xs-height full-height">
        <div class="row-xs-height">
          <div class="col-xs-height col-middle">
            <div class="text-center">
              <h2 class="no-margin text-white"><%= @data[:total_trusters] %></h2>
            </div>
            <div class="text-center">
              <h5 class="no-margin p-b-5 text-white">
                <%= t 'analytics.organizations.total_trusters', count: @data[:total_trusters] %>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 col-xs-12 m-b-10">
    <div class="widget-9 panel no-border bg-info no-margin widget-loader-bar" style="height: 100px;">
      <div class="container-xs-height full-height">
        <div class="row-xs-height">
          <div class="col-xs-height col-middle">
            <div class="text-center">
              <h2 class="no-margin text-white"><%= @data[:sms_range_followers].to_i %></h2>
            </div>
            <div class="text-center">
              <h5 class="no-margin p-b-5 text-white">
                <%= t 'analytics.organizations.sms_range_followers', count: @data[:sms_range_followers] %>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="panel-title"><%= t 'welcome.dashboard.like_trending' %></div>
      </div>

      <div class="panel-body full-height" style="min-height: 300px;">
        <div id="nvd3" class="line-chart"
             data-area-color="master"
             data-points="true"
             data-url="follow_trending">
          <svg style="height: 500px;"></svg>
        </div>
      </div>

    </div>
  </div>
</div>