<% content_for :title do %><%= t 'welcome.dashboard.title' %><% end %>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title"><%= t 'welcome.dashboard.recent_campaigns' %>
        </div>
      </div>
      <div class="panel-body scrollable">
        <!-- REMOVE THIS WRAPPER IF .scrollable IS NOT USED -->
        <div style="max-height: 250px">

          <table class="table table-hover">

            <thead>
              <tr>
                <th><%= t 'campaigns.message' %></th>
                <th><%= t 'campaigns.date_created' %></th>
                <th><%= t 'campaigns.topics' %></th>
                <th><%= t 'campaigns.expiration_date' %></th>
                <th><%= t 'campaigns.actions' %></th>
              </tr>
            </thead>

            <tbody>
              <% @campaigns.each do |c| %>
                <tr>
                  <td><%= c.message %></td>
                  <td><%= c.created_at_format %></td>
                  <td><%= c.topics.map { |t| t.name }.join(', ') %></td>
                  <td><%= c.expires_at_format %></td>
                  <td>
                    <%= link_to t('campaigns.edit'), edit_campaign_path(c) %> |
                    <%= link_to t('campaigns.stop'), stop_campaign_path(c), method: :delete %>
                  </td>
                </tr>
              <% end %>
            </tbody>

          </table>

        </div>
      </div>
    </div>
  </div>
</div>