<!--COVER-->
<article id="welcome">
  <h2><%= t 'frontend.columbasms' %></h2>
  <p><%= t 'frontend.motto' %></p>
  <ul class="download-a a">
    <p class="link-a"><a href="/organizations/sign_up">Register</a></p>
    <p class="link-a"><a href="/organizations/sign_in">Login</a></p>
  </ul>
</article>

<section id="content" class="a">
  <!--PROJECT-->
  <article>
    <!--PROJECT-->
    <header class="heading-a">
      <h3><span class="strong"><%= t 'frontend.the_project' %></span></h3>
      <p><%= t 'frontend_organizations.project_short' %></p>
    </header>

    <!--MOTIVATIONS-->
    <header class="heading-a">
      <h3><span class="strong"><%= t 'frontend_organizations.motivations' %></span></h3>
      <p><%= t 'frontend_organizations.motivations_text' %></p>
    </header>

    <!--WHY COLUMBA-->
    <header class="heading-a">
      <h3><span class="strong"><%= t 'frontend_organizations.why' %></span></h3>
    </header>
    <ul class="list-a">
      <!--SIMPLICITY-->
      <li><i class="icon-basic" data-icon=">"></i> <span class="title"><%= t 'frontend_organizations.why_1' %></span>
        <%= t 'frontend_organizations.why_1_short' %></a></li>
      <!--DATA ANALYTIC-->
      <li><i class="icon-basic" data-icon="&#87"></i> <span class="title"><%= t 'frontend_organizations.why_2' %></span>
        <%= t 'frontend_organizations.why_2_short' %></a></li>
      <!--PRIVACY-->
      <li><i class="icon-basic" data-icon="!"></i> <span class="title"><%= t 'frontend_organizations.why_3' %></span>
        <%= t 'frontend_organizations.why_3_short' %></a></li>
      <!--OPEN DATA-->
      <li><i class="icon-basic" data-icon="/"></i> <span class="title"><%= t 'frontend_organizations.why_4' %></span>
        <%= t 'frontend_organizations.why_4_short' %></a></li>
      <!--PARTNER-->
      <li><i class="icon-basic" data-icon="R"></i> <span class="title"><%= t 'frontend_organizations.why_5' %></span>
        <%= t 'frontend_organizations.why_5_short' %></a></li>
      <!--PARTNER-->
      <li><i class="icon-basic" data-icon="L"></i> <span class="title"><%= t 'frontend_organizations.why_6' %></span>
      <%= t 'frontend_organizations.why_6_short' %></a></li>
    </ul>
  </article>


  <!--PARTNERS-->
  <article id="partners" class="unscrolled shown">
    <header class="heading-a">
      <h3><span class="small"><%= t 'frontend.partners' %></span> <span class="strong"><%= t 'frontend.partners_subtitle_a' %></span> <%= t 'frontend_organizations.partners_subtitle' %></h3>
    </header>
    <ul class="gallery-b mobile-hide">

      <!--AIPD-Roma-->
      <li>
        <a href="http://www.aipd-roma.it/"><img src="<%= image_path 'partner_AIPD-roma.png' %>" alt="Placeholder" height="300" width="300"> </a>
        <div style="margin-top: -64px;">
          <h4><span>AIPD-Roma</span> Associazione Italiana Persone Down</h4>
          <a class="link" href="http://www.aipd-roma.it/"><img src="<%= image_path 'partner_AIPD-roma.png' %>" alt="Placeholder" height="300" width="300"> </a>
        </div>
        <div class="fit-a">
          <div>
            <a class="link" href="http://www.aipd-roma.it/"><img src="<%= image_path 'partner_AIPD-roma.png' %>" alt="Placeholder" height="300" width="300"> </a>
          </div>
        </div>
        <a class="link" href="http://www.aipd-roma.it/"><img src="<%= image_path 'partner_AIPD-roma.png' %>" alt="Placeholder" height="300" width="300"> </a>
      </li>

      <!--AISM-Roma-->
      <li>
        <a href="http://www.aism.it/roma/"><img src="<%= image_path 'partner_AISM-roma.png' %>" alt="Placeholder" height="300" width="300"> </a>
        <div style="margin-top: -64px;">
          <h4><span>AISM-Roma</span> Associazione Italiana Sclerosi Multipla</h4>
          <a class="link" href="http://www.aism.it/roma/"><img src="<%= image_path 'partner_AISM-roma.png' %>" alt="Placeholder" height="300" width="300"> </a>
        </div>
        <div class="fit-a">
          <div>
            <a class="link" href="http://www.aism.it/roma/"><img src="<%= image_path 'partner_AISM-roma.png' %>" alt="Placeholder" height="300" width="300"> </a>
          </div>
        </div>
        <a class="link" href="http://www.aism.it/roma/"><img src="<%= image_path 'partner_AISM-roma.png' %>" alt="Placeholder" height="300" width="300"> </a>
      </li>

      <!--Maluba-->
      <li>
        <a href="http://www.maluba.org/"><img src="<%= image_path 'partner_maluba.png' %>" alt="Placeholder" height="300" width="300"> </a>
        <div style="margin-top: -64px;">
          <h4><span>MALUBA</span></h4>
          <a class="link" href="http://www.maluba.org/"><img src="<%= image_path 'partner_maluba.png' %>" alt="Placeholder" height="300" width="300"> </a>
        </div>
        <div class="fit-a">
          <div>
            <a class="link" href="http://www.maluba.org/"><img src="<%= image_path 'partner_maluba.png' %>" alt="Placeholder" height="300" width="300"> </a>
          </div>
        </div>
        <a class="link" href="http://www.maluba.org/"><img src="<%= image_path 'partner_maluba.png' %>" alt="Placeholder" height="300" width="300"> </a>
      </li>
    </ul>
  </article>



  <!--TEAM-->
  <article id="team" class="vb">
    <header class="heading-a">
      <h3><span class="strong"><%= t 'frontend.team' %></span></h3>
    </header>
    <ul class="slider-a">
      <li>
        <img src="<%= image_path 'team/Alessio.jpg' %>" alt="Placeholder" width="157" height="157">
        <span class="title"><span>Alessio Cecconi</span> Backend Developer</span> <%= t 'frontend.team_alessio_description' %>
      </li>
      <li>
        <img src="<%= image_path 'team/Federico.jpg' %>" alt="Placeholder" width="157" height="157">
        <span class="title"><span>Federico Fanara</span> Android Developer</span> <%= t 'frontend.team_federico_description' %>
      </li>
      <li><img src="<%= image_path 'team/Lorenzo.jpg' %>" alt="Placeholder" width="157" height="157">
        <span class="title"><span>Lorenzo Rapetti</span> Backend & Frontend Developer</span> <%= t 'frontend.team_lorenzo_description' %>
      </li>
      <li><img src="<%= image_path 'team/Matteo.jpg' %>" alt="Placeholder" width="157" height="157">
        <span class="title"><span>Matteo Brienza</span> Digital Designer & Android Developer</span> <%= t 'frontend.team_matteo_description' %>
      </li>
    </ul>
  </article>

  <!--STORY-->
  <!--<article>-->
    <!--<header class="heading-a">-->
      <!--<h3><span class="strong"><%= t 'frontend_organizations.story' %></span></h3>-->
      <!--<p><%= t 'frontend_organizations.Story_text' %></p>-->
    <!--</header>-->
  <!--</article>-->


  <!--CONTACT-->
  <article id="contact" style="background-color: rgb(229, 227, 223);">
    <header class="heading-a">
      <h3><span class="strong"><%= t 'frontend.contact_us' %></span></h3>
      <p><%= t 'frontend_organizations.contact_info'%></p>
    </header>
    <%= form_tag contact_path, id: 'contact-form' do %>
        <fieldset>
          <p>
            <label for="ca"><%= t 'frontend.name' %></label>
            <input type="text" id="ca" name="contact[name]" required>
          </p>
          <p>
            <label for="cb">Email</label>
            <input type="email" id="cb" name="contact[email]" required>
          </p>
          <p>
            <label for="ce"><%= t 'frontend.message' %></label>
            <textarea id="ce" name="contact[message]" required></textarea>
          </p>
          <p><button type="submit" id="contact-form-submit"><%= t 'frontend.send' %></button></p>
        </fieldset>
    <% end %>
  </article>

  <!--DOWNLOAD-->
  <article >
    <!--JOIN US-->
    <header class="heading-a">
      <h3>
        <span class="strong"><%= t 'frontend.join_us' %></span>
      </h3>
      <p>
        <%= t 'frontend_organizations.join_us_long' %>
      </p>

    </header>

    <ul class="download-a a">
      <li class="a">
        <button href="/organizations/sign_up"><%= t 'frontend.register' %></button>
      </li>
    </ul>
  </article>
  <article class="vb">

    <header class="heading-a b">
      <h3><span class="strong"><%= t 'frontend_organizations.spread_app' %></span></h3>
      <p>Diffondi l'APP tra i tuoi sostenitori e collaboratori</p>
    </header>
    <ul class="download-a a">
      <li class="gp"><a rel="external" target="_blank" href="https://play.google.com/store/apps/details?id=com.columbasms.columbasms">Get it on Google Play</a></li>
    </ul>
  </article>
</section>