<article id="welcome">
  <figure class="mobile-c"><img src="http://placehold.it/352x628" alt="Placeholder" width="352" height="628"></figure>
  <h2><%= t 'frontend.columbasms' %></h2>
  <p><%= t 'frontend.motto' %></p>
  <ul class="download-a a">
    <li class="gp"><a rel="external" target="_blank" href="https://play.google.com/store/apps/details?id=com.columbasms.columbasms">Get it on Google Play</a></li>
  </ul>
</article>
<section id="content" class="a">
  <article>
    <header class="heading-a">
      <h3><span class="strong"><%= t 'frontend.the_project' %></span></h3>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
    </header>
    <ul class="list-a">
      <li><a href="./"><i class="icon-basic" data-icon="6"></i> <span class="title">Scopri</span>
        Scopri le associazioni attive nelle tematiche umanitarie a te care e vicine a dove vivi</a></li>
      <li><a href="./"><i class="icon-basic" data-icon="&#xe014;"></i> <span class="title">Segui</span>
        Rimani aggiornato sulle nuove campagne delle tematiche e associazioni preferite</a></li>
      <li><a href="./"><i class="icon-basic" data-icon="}"></i> <span class="title">Diffondi</span>
        Diffondi le campagne che vuoi supportare e decidi chi rendere partecipe tramite i tuoi SMS</a></li>
    </ul>
  </article>
  <article class="module-a va">
    <header class="heading-a a">
      <h3><span class="small">Features us</span> <span class="strong">Lorem ipsum</span> dolor sit amet</h3>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
    </header>
    <figure class="sticky-b"><img src="<%= image_path 'frontend/temp/a.png' %>" alt="Placeholder" width="516" height="790"></figure>
  </article>
  <article>
    <header class="heading-a">
      <h3><span class="small">About</span> <span class="strong">Lorem ipsum</span> dolor sit amet</h3>
    </header>
    <ol class="list-b a">
      <li><span class="title">Lorem ipsum</span> Consectetuer adipiscing elit, sed diam nonummy</li>
      <li><span class="title">Lorem ipsum</span> Consectetuer adipiscing elit, sed diam nonummy</li>
      <li><span class="title">Lorem ipsum</span> Consectetuer adipiscing elit, sed diam nonummy</li>
      <li><span class="title">Lorem ipsum</span> Consectetuer adipiscing elit, sed diam nonummy</li>
      <li class="mobile-f"><img src="<%= image_path 'frontend/temp/c.png' %>" alt="Placeholder" width="738" height="681"></li>
    </ol>
  </article>
  <article>
    <header class="heading-a">
      <h3><span class="small">Screens</span> <span class="strong">Lorem ipsum</span> dolor sit amet</h3>
      <p>See what’s included in the App</p>
    </header>
    <ul class="slider-b">
      <li><img src="http://placehold.it/320x568" alt="Placeholder" width="320" height="568"></li>
      <li><img src="http://placehold.it/320x568" alt="Placeholder" width="320" height="568"></li>
      <li><img src="http://placehold.it/320x568" alt="Placeholder" width="320" height="568"></li>
      <li><img src="http://placehold.it/320x568" alt="Placeholder" width="320" height="568"></li>
      <li><img src="http://placehold.it/320x568" alt="Placeholder" width="320" height="568"></li>
    </ul>
  </article>
  <article class="vid">
    <header class="heading-a">
      <h3><span class="small">Demo</span> <span class="strong">Lorem ipsum</span> dolor sit amet</h3>
    </header>
    <figure><a href="http://vimeo.com/47480346"><img src="http://placehold.it/1400x655" alt="Placeholder" width="1400" height="655"></a></figure>
  </article>
  <article class="vb">
    <header class="heading-a">
      <h3><span class="strong"><%= t 'frontend.team' %></span></h3>
    </header>
    <ul class="slider-a">
      <li>
        <img src="http://placehold.it/157x157" alt="Placeholder" width="157" height="157">
        <span class="title"><span>Alessio Cecconi</span> Digital Designer & Backend Developer</span>
        Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratvo lutpat. Ut wisi enim ad minim veniam, quis nostrud v</li>
      <li>
        <img src="http://placehold.it/157x157" alt="Placeholder" width="157" height="157">
        <span class="title"><span>Federico Fanara</span> Android Developer</span> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratvo lutpat. Ut wisi enim ad minim veniam, quis nostrud v Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratvo lutpat. Ut wisi enim ad minim veniam, quis nostrud v</li>
      <li><img src="http://placehold.it/157x157" alt="Placeholder" width="157" height="157">
        <span class="title"><span>Lorenzo Rapetti</span> Backend & Frontend Developer</span> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratvo lutpat. Ut wisi enim ad minim veniam, quis nostrud v</li>
      <li><img src="http://placehold.it/157x157" alt="Placeholder" width="157" height="157">
        <span class="title"><span>Matteo Brienza</span> Android Developer</span> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratvo lutpat. Ut wisi enim ad minim veniam, quis nostrud v</li>
    </ul>
  </article>
  <article id="contact" style="background-color: rgb(229, 227, 223);">
    <header class="heading-a">
      <h3><span class="strong"><%= t 'frontend.contact_us' %></span></h3>
    </header>
    <%= form_tag contact_path, id: 'contact-form' do %>
      <fieldset>
        <p>
          <label for="ca"><%= t 'frontend.name' %></label>
          <input type="text" id="ca" name="contact[name]" required>
        </p>
        <p>
          <label for="cb">Email</label>
          <input type="email" id="cb" name="contact[email]" required>
        </p>
        <p>
          <label for="ce"><%= t 'frontend.message' %></label>
          <textarea id="ce" name="contact[message]" required></textarea>
        </p>
        <p><button type="submit"><%= t 'frontend.send' %></button></p>
      </fieldset>
    <% end %>
  </article>
  <article class="vb">
    <header class="heading-a b">
      <h3><span class="strong">Get</span> app</h3>
      <p>Choose your native platform and get started!</p>
    </header>
    <ul class="download-a a">
      <li class="gp"><a rel="external" target="_blank" href="https://play.google.com/store/apps/details?id=com.columbasms.columbasms">Get it on Google Play</a></li>
    </ul>
    <figure class="sticky-c"><img src="<%= image_path 'frontend/temp/b.png' %>" alt="Placeholder" width="866" height="574"></figure>
    <p class="counter"><span>0238</span> Downloads</p>
  </article>
</section>