<% title @campaign.organization.organization_name %>

<!--Meta general -->
<%
  meta  title: "Columba SMS - "+@campaign.organization.organization_name,
        description: @campaign.message,
        url: blog_campaign_url
%>

<!-- Meta for Google -->
<%
  meta property:{
        title: "Columba SMS - "+@campaign.organization.organization_name,
        description: @campaign.message,
        url: blog_campaign_url}
%>

<!-- Meta for Facebook -->
<%
  meta og:{
        title: "Columba SMS - "+@campaign.organization.organization_name,
        description: @campaign.message,
        url: blog_campaign_url}
%>

<!-- Meta for Twitter -->
<%
  meta twitter: {
      card: @campaign.organization.organization_name+t('blog.twitter_card')+blog_campaign_url,
      title: "Columba SMS - "+@campaign.organization.organization_name,
      description: @campaign.message
  }
%>

<article id="featured">
  <h2><%= @campaign.organization.organization_name %></h2>
</article>

<section id="content" class="cols-a">
  <div class="news-a">
    <article>
      <header>
        <h3><%= @campaign.organization.organization_name %></h3>
        <ul>
          <li><a href="javascript:;"><%= image_tag @campaign.organization.avatar.url(:thumb_48), width: 40, height: 40 %>
            <%= t 'frontent.by' %> <%= @campaign.organization %></a></li>
          <li><i class="icon-basic" data-icon="x"></i> <%= raw I18n.localize @campaign.created_at, format: '%d %B %Y' %></li>
          <li>
            <%= t 'blog.expires_at' %>
            <i class="icon-basic" data-icon="x"></i> <%= raw I18n.localize @campaign.expires_at, format: '%d %B %Y' %>
          </li>
        </ul>
      </header>
      <% if @campaign.photo.exists? %>
          <% meta og:{ image: image_url(@campaign.photo) }%>
          <% meta twitter:{ image: image_url(@campaign.photo) }%>
          <% meta property:{ image: image_url(@campaign.photo) } %>
          <figure ><%= image_tag @campaign.photo.url(:original)%></figure>
      <%else%>
          <% if @campaign.organization.cover.exists? %>
            <% meta og:{ image: image_url(@campaign.organization.cover) }%>
            <% meta twitter:{ image: image_url(@campaign.organization.cover) }%>
            <% meta property:{ image: image_url(@campaign.organization.cover) } %>
          <% end %>
      <% end %>
      <p><%= raw @campaign.message %></p>
      <p><%= raw @campaign.long_description %></p>
    </article>
  </div>

  <%= render partial: 'aside' %>
</section>