<% title t('stop.title') %>

<% content_for :h3 do %><%= t 'stop.heading' %><% end %>

<p>
  <h5>
    <%= t 'stop.why' %>
  </h5>

  <%= t 'stop.why_explanation' %>
  <%= t 'frontend.project_description_short' %>
  <%= t 'stop.more_info' %><a href="https://www.columbasms.com">https://www.columbasms.com</a>
</p>

<!--<p>-->
  <!--Do you prefer to limit the number or kind of messages?-->
<!--</p>-->

<p>
  <%= t 'stop.confirmation' %>

  <%= form_tag "/stop/#{@receiver.number}", method: :delete do %>
      <%= submit_tag t('stop.confirm'), class: 'btn btn-primary btn-cons' %>
  <% end %>
</p>
