<%= form_for(@campaign, html: { role: 'form' }) do |f| %>
  <% if @campaign.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group form-group-default required">
    <%= f.label :message %>
    <%= f.text_area :message, class: 'form-control full-height', rows: '10', required: 'required' %>
  </div>

  <div class="form-group form-group-default form-group-default-select2 required">
    <label for="topic_ids">Topics</label>
    <%= f.select :topic_ids, current_organization.topics.collect { |x| [x.name, x.id] }, { }, { multiple: true, 'data-init-plugin': 'select2', class: 'full-width' } %>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      
    </div>
  </div>

  <%= f.submit 'Send', class: 'btn btn-primary btn-cons m-t-10' %>
<% end %>
