<% content_for :head_js do %>
    <!--suppress ALL -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMeEfCTnpsPhSqICGC5e7QEIhzCpYjazg&libraries=places"
            async defer></script>
<% end %>

<%= form_for(@campaign, html: { role: 'form', id: 'new-campaign' }) do |f| %>
  <% if @campaign.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@campaign.errors.count, t('error'), t('errors')) %> <%= t 'campaigns.prohibited' %></h2>

      <ul>
      <% @campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group form-group-default required">
    <%= f.label :message %>
    <%= f.text_area :message, class: 'form-control full-height', rows: '10', required: 'required' %>
  </div>

  <div class="form-group form-group-default">
    <%= f.label :long_description, nil, style: 'margin-bottom: 5px;' %>
    <%= f.text_area :long_description, class: 'wysiwyg form-control full-width', style: 'height: 250px' %>
  </div>

    <div class="form-group form-group-default">
      <%= f.label :photo %>
      <%= image_tag @campaign.photo.url(:normal), width: 800, height: 450, class: 'm-b-10' unless @campaign.new_record? or not @campaign.photo.exists? %>
      <div class="clearfix"></div>
      <button id="upload_photo" class="btn btn-primary btn-cons m-b-5"><%= t 'campaigns.upload_photo' %></button>
      <%= f.file_field :photo, id: 'photo_input', style: 'display: none;' %>
      <span id="photo_text"><%= @campaign.photo_file_name unless @campaign.new_record? %></span>
    </div>

  <div class="form-group form-group-default form-group-default-select2 required">
    <label for="topic_ids"><%= t 'campaigns.topics' %></label>
    <%= f.select :topic_ids, current_organization.topics.collect { |x| [x.name, x.id] }, { }, { multiple: true, 'data-init-plugin': 'select2', class: 'full-width' } %>
  </div>

  <div class="form-group form-group-default required">
    <label for="expires_at"><%= t 'campaigns.expiration_date' %></label>
    <%= f.text_field :expires_at, value: @campaign.new_record? ? '' : @campaign.expires_at.strftime('%d/%m/%Y'), class: 'form-control', id: 'datepicker', required: 'required' %>
  </div>

  <div class="row" style="margin-left: 0; margin-right: 0;">
    <div class="col-sm-12 col-md-12">
        <em><%= t 'campaigns.date_explanation' %></em>
    </div>
  </div>

    <div class="row m-t-10" style="margin-left: 0; margin-right: 0;">
      <div class="col-sm-12 col-md-4">
        <div class="form-group form-group-default form-group-default-select2">
          <label for="region_id"><%= t 'region' %></label>
          <%= f.select :region_id, Region.order(name: :asc).all.collect { |r| [r.name, r.id] }.push(['', '']),
                       { selected: (@campaign.new_record? or @campaign.region.nil?) ? '' : @campaign.region_id },
                       { 'data-init-plugin': 'select2', class: 'full-width', id: 'region-select' } %>
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <div class="form-group form-group-default form-group-default-select2">
          <label for="province_id"><%= t 'province' %></label>
          <%= f.hidden_field :province_id, class: 'full-width', id: 'province-select'  %>
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <div class="form-group form-group-default form-group-default-select2 full-width">
          <label for="town_id"><%= t 'town' %></label>
          <%= f.hidden_field :town_id, class: 'full-width', id: 'town-select'  %>
        </div>
      </div>
    </div>

    <div class="panel-heading" style="padding-left: 0;">
      <div class="panel-title full-width" style="color: #333;">
        <span class="pull-left"><%= t 'addresses' %></span>

      </div>
    </div>

    <div class="row m-t-10" style="margin-left: 0; margin-right: 0;">
      <div class="col-sm-12 col-md-12" id="addresses">
        <%= f.fields_for :campaign_addresses do |ff| %>
            <%= render 'campaign_address_fields', f: ff %>
        <% end %>
        <%= link_to_add_association t('campaigns.addresses.add_address'),
                                    f, :campaign_addresses,
                                    class: 'btn btn-primary btn-cons pull-right',
                                    style: 'color: #fff' %>
      </div>
    </div>

    <%= f.submit t('send'), class: 'btn btn-primary btn-cons m-t-10 full-width' %>
<% end %>

<% content_for :javascripts do %>

    <script>
      $('#new-campaign').validate();

      var provinceData = [{ id: '', text: '' }];
      <% if @campaign.region.present? %>
        provinceData = <%= raw @campaign.region.provinces.order(name: :asc).all.collect { |r| { text: r.name, id: r.id } }.push({ text: '', id: '' }).to_json %>;
      <% end %>

      var townData = [{ id: '', text: '' }];
      <% if @campaign.province.present? %>
        townData = <%= raw @campaign.province.towns.order(name: :asc).all.collect { |r| { text: r.name, id: r.id } }.push({ text: '', id: '' }).to_json %>;
      <% end %>

      $('#province-select').select2({
        data: provinceData
      });
      $('#town-select').select2({
        data: townData
      });

      $('#region-select').on('change', function() {
        sendLocation('region', $(this).val(), $('#province-select'), $('#town-select'));
      });

      $('#province-select').on('change', function() {
        sendLocation('province', $(this).val(), $('#town-select'), null);
      });

      $('#upload_photo').click(function(e) {
        e.preventDefault();
        $('#photo_input').click();
      });

      $('#photo_input').change(function() {
        var fileName = $(this).val().match(/[^\/\\]+$/);
        $('#photo_text').html(fileName);
      });

      $('#addresses').on('cocoon:after-insert', function(e, added_task) {
        var autocomplete = new google.maps.places.Autocomplete(
            added_task.find('input').get(0), { types: ['geocode'] }
        );
      });

      function sendLocation(type, value, $elem, $nullElement) {
        var url = '';
        switch (type) {
          case 'region':
                url = '/provinces-by-region';
                break;
          case 'province':
                url = '/town-by-province';
                break;
          default:
                url = '/town-by-province';
                break;
        }
        var data = {};
        data[type + '_id'] = value;
        data['first'] = false;
        $.ajax({
          url: url,
          data: data,
          success: function(data) {
            $elem.select2({
              data: data.data
            }).select2('val', data.selected);
            if ($nullElement != null) {
              $nullElement.select2({
                data: [{ id: '', text: '' }]
              });
            }
          }
        })
      }
    </script>

<% end %>