<% title t('campaigns.edit_title') %>

<% content_for :application_js do %>
    <%= javascript_include_tag('application_form', 'data-turbolinks-track' => true) %>
<% end %>

<% content_for :application_css do %>
    <%= stylesheet_link_tag('application_form', 'data-turbolinks-track' => true) %>
<% end %>

<div class="col-md-12 col-center">
  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="panel-title">
        <%= t 'campaigns.edit_campaign' %>
      </div>
    </div>

    <div class="panel-body">
      <h5><%= t 'campaigns.update' %></h5>

      <%= render 'form' %>
    </div>

  </div>
</div>