<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).presence || 'Columba' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="theme-color" content="#009688">
  <meta content="" name="description" />
  <meta content="" name="author" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--[if lte IE 9]>
    <%= stylesheet_link_tag 'ie9', media: 'all', 'data-turbolinks-track' => true %>
  <![endif]-->
  <%= favicon_link_tag 'favicon.ico' %>
  <script type="text/javascript">
    window.onload = function()
    {
      // fix for windows 8
      if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
        document.head.innerHTML += '<%= stylesheet_link_tag 'windows.chrome.fix', 'data-turbolinks-track' => true %>'
    }
  </script>
  <%= csrf_meta_tags %>
</head>
<body class="fixed-header sidebar-visible menu-pin">

  <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascripts %>
</body>
</html>
