<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title><%= yield(:title).presence || 'Columba' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="theme-color" content="#009688">
  <meta content="" name="description" />
  <meta content="" name="author" />
  <%= yield(:application_css).presence || stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true) %>
  <!--[if lte IE 9]>
    <%= stylesheet_link_tag 'ie9', media: 'all', 'data-turbolinks-track' => true %>
  <![endif]-->
  <%= favicon_link_tag 'favicon.ico' %>
  <script type="text/javascript">
    window.onload = function()
    {
      // fix for windows 8
      if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
        document.head.innerHTML += '<%= stylesheet_link_tag 'windows.chrome.fix', 'data-turbolinks-track' => true %>'
    }
  </script>
</head>
<body class="fixed-header">

  <div class="register-container full-height sm-p-t-30">
    <div class="container-sm-height full-height">
      <div class="row row-sm-height">
        <div class="col-sm-12 col-sm-height col-middle <% if action_name == 'account_locked' %>text-center<% end %>">
          <!--<img src="<%= image_path 'logo' %>" alt="logo" data-src="{{ asset('img/logo.png') }}" data-src-retina="{{ asset('img/logo_2x.png') }}" width="78" height="22">-->
          <% if action_name != 'account_locked' %>
            <h3><%= yield(:h3).presence || t('login') %></h3>
          <% end %>

          <% if flash[:error] %>
            <div class="alert alert-danger">
              <%= flash[:error] %>
            </div>
          <% end %>

          <%= yield %>

        </div>
      </div>
    </div>
  </div>

  <%= yield(:application_js).presence || javascript_include_tag('login', 'data-turbolinks-track' => true) %>
  <%= yield :javascripts %>

</body>
</html>