<% logo = asset_path('logo_website_dark.png') %>
<% logo2x = asset_path('logo_website_dark_x2.png') %>
<div class="header">

  <!-- START MOBILE CONTROLS -->
  <div class="container-fluid relative">
    <!-- LEFT SIDE -->
    <div class="pull-left full-height visible-sm visible-xs">
      <!-- START ACTION BAR -->
      <div class="header-inner">
        <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
          <span class="icon-set menu-hambuger"></span>
        </a>
      </div>
      <!-- END ACTION BAR -->
    </div>
    <div class="pull-center hidden-md hidden-lg">
      <div class="header-inner">
        <div class="brand inline">
          <img src="<%= logo %>" alt="logo" data-src="<%= logo %>" data-src-retina="<%= logo2x %>" width="78" height="22">
        </div>
      </div>
    </div>
    <!-- RIGHT SIDE -->
    <div class="pull-right full-height visible-sm visible-xs">
      <!-- START ACTION BAR -->
      <div class="header-inner">
        <a href="#" class="btn-link visible-sm-inline-block visible-xs-inline-block" data-toggle="quickview" data-toggle-element="#quickview">
          <span class="icon-set menu-hambuger-plus"></span>
        </a>
      </div>
      <!-- END ACTION BAR -->
    </div>
  </div>
  <!-- END MOBILE CONTROLS -->

  <div class="pull-left sm-table hidden-xs hidden-sm">
    <div class="header-inner">
      <div class="brand inline">
        <img src="<%= logo %>" alt="logo" data-src="<%= logo %>" data-src-retina="<%= logo2x %>" width="78" height="22">
      </div>
    </div>
  </div>

  <div class=" pull-right">
    <!-- START User Info-->
    <div class="visible-lg visible-md m-t-10">
      <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
        <%= current_organization.organization_name %>
      </div>
      <div class="dropdown pull-right">
        <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular inline m-t-5">
                <img src="<%= current_organization.avatar.url(:thumb) %>" alt="" data-src="<%= current_organization.avatar.url(:thumb) %>" width="32" height="32">
            </span>
        </button>
        <ul class="dropdown-menu profile-dropdown" role="menu">
          <li><a href="#"><i class="pg-settings_small"></i> Settings</a>
          </li>
          <li><a href="#"><i class="pg-outdent"></i> Feedback</a>
          </li>
          <li><a href="#"><i class="pg-signals"></i> Help</a>
          </li>
          <li class="bg-master-lighter">
            <%= link_to(destroy_organization_session_path, method: :delete, class: 'clearfix') do %>
              <span class="pull-left">Logout</span>
              <span class="pull-right"><i class="pg-power"></i></span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <!-- END User Info-->
  </div>

</div>